/** Generality */
body {
  width: 80%;
  margin: 10% auto;
}

h1 {
  text-align: center;
}

.card-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.card-container img {
  width: 100%;
}


.card-container p {
  color: red;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  text-align: center;
  width: 100%;
}


/** MainCard */


/** Gallery */
.card-gallery {
  display: flex;
}

.card-gallery img {
  width: 15%;
  margin: 1rem;
  cursor: grab;
}


/** Form */
form {
  display: flex;
}

form input {
  width: 50%;
  margin-left: 1rem;
}

.label {
  font-weight: 500;
  width: 15rem;
}


/** Color */
.color-gallery {
  display: flex;
}


.bg-color {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}