/** Generality */




/** MainCard */


/** Gallery */



/** Form */
form {
  display: flex;
}

form input {
  width: 50%;
  margin-left: 1rem;
}

.label {
  font-weight: 500;
  width: 15rem;
}


/** Color */